<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"> <i class="bi bi-house-door-fill"></i>
      UVA Trading App</a>


    <div class="d-flex align-items-center">

      {% if user.is_authenticated %}

      <!-- USER DROPDOWN -->
      <div class="dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">

          Hello,&nbsp;<strong>
            {% if user.profile.nickname %}
              {{ user.profile.nickname|capfirst }}
            {% else %}
              {{ user.username|capfirst }}
            {% endif %}
          </strong>

          {% if notif_total %}
            <span class="badge bg-primary ms-2">{{ notif_total }}</span>
          {% endif %}
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>

          <!-- INBOX -->
          <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center"
               href="{% url 'inbox' %}">
              Inbox
              {% if notif_unread_messages %}
                <span class="badge bg-primary">{{ notif_unread_messages }}</span>
              {% endif %}
            </a>
          </li>

          <!-- TRADES -->
          <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center"
               href="{% url 'my_trades' %}">
              My Trades
              {% if notif_trades %}
                <span class="badge bg-primary">{{ notif_trades }}</span>
              {% endif %}
            </a>
          </li>

          <!-- MOD -->
          {% if user.is_staff %}
          <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center"
               href="{% url 'moderator_dashboard' %}">
              Admin
              {% if notif_reports %}
                <span class="badge bg-danger">{{ notif_reports }}</span>
              {% endif %}
            </a>
          </li>
          {% endif %}

          <li><hr class="dropdown-divider"></li>

          <li><a class="dropdown-item" href="{% url 'user_profile' username=user.username %}">Profile</a></li>

          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>

        </ul>
      </div>

      {% else %}

      <!-- NOT LOGGED IN -->
      <a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-sm">
        Login
      </a>

      {% endif %}
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: #232D4B;
  }

  .navbar-brand, .navbar-brand:hover {
    color: white;
    font-weight: bold;
  }

  .navbar-brand .bi-house-door-fill {
    color: #E57200;
  }

  .dropdown-menu {
    background-color: #0f1937;
  }

  #dropdownMenuButton {
    border-color: #E57200;
    color: white;
    font-weight: bold;
  }

  #dropdownMenuButton:hover {
    color: #E57200;
  }

  .dropdown-item {
    background-color: #0f1937;
    color: white;
    font-weight: bold;
  }

  .dropdown-item:hover {
    background-color: #0f1937;
    color: #E57200;
    font-weight: bold;
  }

  .dropdown-divider {
    background-color: white;
  }

</style>
