<nav class="navbar navbar-expand-lg shadow-sm bg-white">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">UVA Trading App</a>
        <div class="d-flex align-items-center">
          <!-- Dropdown -->
          {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Hello, <strong>{{ request.user.username|capfirst }}</strong>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                <!-- <li><a class="dropdown-item" href="{% url 'inbox' %}">Inbox</a></li> -->
                <li>
                  <a class="dropdown-item" href="{% url 'inbox' %}">
                    Inbox
                    {% if user.unread_messages %}
                    <span class="badge bg-danger">{{ user.unread_messages }}</span>
                    {% endif %}
                  </a>
                </li>
                <li><a class="dropdown-item" href="{% url 'my_trades' %}">My Trades</a></li>
                {% if user.is_authenticated and user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'moderator_dashboard' %}">Moderator Dashboard</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'user_profile' username=user.username %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          {% else %}
            <span class="me-3">You are not logged in</span>
            <a href="{% url 'account_login' %}"
               class="btn btn-outline-primary btn-sm">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
